In [88]:
import scipy as sp
from scipy.spatial.distance import squareform, pdist
from sklearn.utils import shuffle

import numpy as np
import pandas as pd

# ordena a matriz com os dados do array
# número de linhas da matriz deve ser igual ao número de elementos do array
# baseado no tutorial pandas 
# http://nbviewer.jupyter.org/urls/bitbucket.org/hrojas/learn-pandas/raw/master/lessons/02%20-%20Lesson.ipynb
def ordenaMatrizPorArray(matriz,array):
    c = pd.DataFrame(matriz)
    c['novacoluna'] = array
    Sorted = c.sort_values(['novacoluna'], ascending=True)
    del Sorted['novacoluna'] # remove a coluna
    return Sorted

In [89]:
dados = [[10,11, 12],[20, 21, 22],[13, 14, 15], [30,31,32],[15,16,17]]
ndados = np.array(dados)

classes = [1,2,1,3,1]
nclasses = np.array(classes)

matrizOrdenada = ordenaMatrizPorArray(ndados, nclasses)

matrizOrdenada

    0   1   2
0  10  11  12
2  13  14  15
4  15  16  17
1  20  21  22
3  30  31  32

In [91]:
matrizOrdenada[2:3]

    0   1   2
4  15  16  17